{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% trans %}general.email_banned{% endtrans %} | {{ page_title }}{% endblock %}

{% block body %}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="static-page">
                    <h1>{% trans %}general.email_banned{% endtrans %}</h1>
                    <div class="static-page-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}