{# Mazas blokas su Appsu linkais/images ir newsletterio prenumerata #}
<script type="text/javascript">
    // Do the newsletter submit
    $(document).ready(function() {
        var tooltip = $('.newsletter-email').tooltip({
            position: {
                my: "center bottom-20",
                at: "center top"
            }
        });

        $('.newsletter-form').bind('submit', function(){
            function isEmailAddress(str) {
                if (typeof str == "undefined") {
                    str = '';
                }
                var pattern = /^(([^<>()\[\]\\."]+(\.[^<>()\[\]\\.@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

                return str.match(pattern);
            }

            var emailField = $(this).find('.newsletter-email');
            var validationResult = isEmailAddress(emailField.val());

            // This is not email!
            if (!validationResult) {
                emailField.tooltip( "show" );
                return false;
            }

            emailField.tooltip( "hide" );
            return true;
        });
    });
</script>
<div class="clearfix newsletter-outer-block">
    <div class="newsletter-block">
        <div class="newsletter-block-inner clearfix">
        <h4>{% trans %}index.newsletter{% endtrans %}</h4>
            <form class="newsletter-form" action="{{ path('food_newsletter_subscribe') }}" method="post">
                <input type="text" name ="newsletter_email" class="newsletter-email" placeholder="{% trans %}index.newsletter_email{% endtrans %}" title="{% trans %}index.newsletter_provide_email{% endtrans %}">
                <input type="submit" value="{% trans %}index.newsletter_subscribe{% endtrans %}">
            </form>
            <ul class="menu pros-list">
                <li>{% trans %}index.get_best_offers{% endtrans %}</li>
                <li>{% trans %}index.get_best_offers2{% endtrans %}</li>
            </ul>
        </div>
    </div>
</div>