{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block body %}
    <div class="row">
        Ze test {{ name }}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans %}admin.places.newclient.title{% endtrans %}</h3>
            </div>
            <div class="panel-body">

                <div class="input-group input-group-lg">
                    <span class="input-group-addon">@</span>
                    <input type="text" class="form-control input-lg" placeholder="{% trans %}admin.places.newclient.client_name{% endtrans %}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
