<div id="login-register-popup" style="display: none;">
    <div class="popup login-register-popup clearfix">
        <div class="login_form_wrapper">{% render(controller('FoodUserBundle:Default:login')) %}</div>
        <div class="resetting_form_wrapper">{% render(controller('FoodUserBundle:ResetPassword:request')) %}</div>
        <div class="registration_form_wrapper">{% render(controller('FoodUserBundle:Default:register')) %}</div>
    </div>
</div>
