<div id="login-register-popup" style="display: none;">
    <div class="popup login-register-popup clearfix">
        {% render(controller('FoodUserBundle:Default:login')) %}
        <div class="registration_form_wrapper">{% render(controller('FoodUserBundle:Default:register')) %}</div>
    </div>
</div>
