{# Padeka, po registracijos i newsletteri #}
{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% trans %}general.newsletter{% endtrans %} | {{ page_title }}{% endblock %}

    {% block body %}
        <div class="site-center">
            <div class="site-block">
                <div class="middle-content">
                    <div class="static-page">
                        <h1>{% trans %}general.thank_you{% endtrans %}</h1>
                        {% trans %}general.subscribed_newsletter{% endtrans %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}