<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    <a href="{{ asset('uploads/documents/order_reports/' ~ object.filename) }}">{{ object.filename }}</a>
</td>