{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ 'global.page_not_found'|trans }}{% endblock %}

    {% block body %}
        <div class="col-xs-12 col-sm-10">
            <div class="row">
                <h2>{{ 'global.page_not_found'|trans }}</h2>
                {{ 'global.page_not_found.description'|trans }}
            </div><!--/row-->
        </div><!--/span-->
    {% endblock %}