{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ 'global.page_not_found'|trans }} | {{ page_title }}{% endblock %}

    {% block body %}
        <div class="site-center">
            <div class="site-block">
                <div class="middle-content">
                    <div class="error-page">
                        <h1>{{ 'global.page_not_found'|trans }}</h1>
                        {{ 'global.page_not_found.description'|trans }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}