{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ 'general.error_happened'|trans }}{% endblock %}

    {% block body %}
        <div class="site-center">
            <div class="site-block">
                <div class="middle-content">
                    <div class="error-page">
                        <h1>{{ 'general.error_happened'|trans }}</h1>
                        {{ 'general.error_happened.description'|trans }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}