<div>
    <form class="popup change-location-popup"
          action="{{ path('food_places_' ~ locale ~ '_main') }}"
          method="get"
          id="change-location-form">
        <div class="dish-size change-address-form">
            <div class="title">{% trans %}places.change_address{% endtrans %}</div>
            <div class="clearfix">
                <div class="alert alert-danger" id="change-location-error">
                    Pabandykite kitą adresą
                </div>
                <div>Miestas:</div>
                <div>
                    <select class="custom-select" id="change-location-city">
                        <option value="" disabled>{% trans %}index.city{% endtrans %}</option>
                        <option value="Vilnius">Vilnius</option>
                        <option value="Kaunas">Kaunas</option>
                        <option value="Klaipėda">Klaipėda</option>
                    </select>
                </div>

                <p></p>

                <div>Adresas:</div>
                <div>
                    <input type="text"
                           id="change-location-address"
                           placeholder="{% trans %}index.street{% endtrans %}"
                           class="input-street"
                           autocomplete="off"
                           value="" />
                </div>

                <p></p>
            </div>
        </div>

        <div class="popup-controls">
            <a href="#"
               class="button-submit"
               onclick="change_location('{{ url('food_ajax', {'action': 'find-address'}) }}', '#change-location-city', '#change-location-address', '#change-location-error', '#change-location-form');"
               id="change-location-form-link">
                <span>{% trans %}places.change_address{% endtrans %}</span>
            </a>
        </div>
    </form>
</div>
