{% extends 'FoodAppBundle::layout.html.twig' %}

{% block body %}
    <div class="site-center">
    <div class="site-block">
    <div class="page-path clearfix"><a href="#">Pradžia</a><a href="#">Resoranai arti Žirmūnų</a></div>
    <div class="page-title">
        <h1 class="clearfix"><span>Rasti 67 restoranai netoli Žirmūnų</span><a href="#" class="change-location-link">keisti adresą</a></h1>
    </div>
    <div class="clearfix">
        <div class="content-lefter">
            {{ render(controller('FoodDishesBundle:Kitchen:kitchenlist', {})) }}
            {{ render(controller('FoodDishesBundle:Place:filtersList')) }}
            <a href="#" class="clear-filter-link">išvalyti filtrus</a>
        </div>
        <div class="content-righter">
            <div class="restaurants-list-controls clearfix">
                <form class="list-search-form fl">
                    <input type="text" placeholder="Paieška...">
                    <input type="submit" value="">
                </form>
                <div class="list-top-filters clearfix fr">
                    <div class="label">Rūšiuoti pagal:</div><a href="#">Relevance</a><a href="#" class="selected">Reitingą</a><a href="#">Pristatymo kainą</a><a href="#">Atstumą</a>
                </div>
            </div>
            {{ render(controller('FoodPlacesBundle:Default:list', {})) }}
        </div>
    </div>
    <div class="clearfix bottom-blocks bottom-block-lower">
        <div class="app-block clearfix"><img src="/bundles/foodapp/images/app-view.png">
            <div class="app-block-inner">
                <h3>Skanu.lt <br/>tavo kišenėje!</h3>
                <div><a href="#"><img src="/bundles/foodapp/images/app-store.png"></a><a href="#"><img src="/bundles/foodapp/images/g-store.png"></a></div>
            </div>
        </div>
        <div class="newsletter-block">
            <h4>Naujienlaiškis</h4>
            <form class="newsletter-form">
                <input type="text" placeholder="Tavo el. paštas">
                <input type="submit" value="Prenumeruok">
            </form>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
