{% extends 'FoodAppBundle::layout.html.twig' %}


{% block jscode %}

{% endblock %}
{% block body %}
    <div class="site-center">
    <div class="site-block">
    <div class="page-path clearfix"><a href="#">Pradžia</a><a href="#">Resoranai arti Žirmūnų</a></div>
    <div class="page-title">
        <h1 class="clearfix"><span>Rasti 67 restoranai netoli Žirmūnų</span><a href="#" class="change-location-link">{% trans %}places.change_address{% endtrans %}</a></h1>
    </div>
    <div class="clearfix">
        <div class="content-lefter">
            {{ render(controller('FoodDishesBundle:Kitchen:kitchenlist', {})) }}
            {{ render(controller('FoodDishesBundle:Place:filtersList')) }}
            <a href="#" class="clear-filter-link">{% trans %}places.clear_filters{% endtrans %}</a>
        </div>
        <div class="content-righter">
            <div class="restaurants-list-controls clearfix">
                <form class="list-search-form fl">
                    <input type="text" placeholder="{% trans %}places.search_placeholder{% endtrans %}">
                    <input type="submit" value="">
                </form>
                <div class="list-top-filters clearfix fr">
                    <div class="label">{% trans %}places.order_by{% endtrans %}:</div>
                    <a href="#">{% trans %}places.sort_by_relevance{% endtrans %}</a>
                    <a href="#" class="selected">{% trans %}places.sort_by_rating{% endtrans %}</a>
                    <a href="#">{% trans %}places.sort_by_delivery_price{% endtrans %}</a>
                    <a href="#">{% trans %}places.sort_by_distance{% endtrans %}</a>
                </div>
            </div>
            {{ render(controller('FoodPlacesBundle:Default:list', {})) }}
        </div>
    </div>

        {% include 'FoodAppBundle:Default:bottom_block.html.twig' %}

    </div>
    </div>
{% endblock %}
