<div class="restaurants-list">
    {% for place in places %}
        <div class="restaurant-item clearfix">
            <div class="logo">
                <div class="logo-wrap"><img src="/bundles/foodapp/images/res-1.png"></div>
            </div>
            <div class="item-center">
                <h2 class="name clearfix"><span class="text">{{ place.name }}</span><span class="tag"><img src="/bundles/foodapp/images/tag-speed.png"></span></h2>
                <p class="desc">
                    {% for kitchen in place.kitchens %}
                        {{kitchen.name}}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </p>
                <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
            </div>
            <!-- <div class="discount-tag"></div> -->
            <div class="item-righter">
                <div class="clearfix">
                    <div data-stars="{{ place.rating }}" class="restoran-rating fl"></div>
                    <div class="rating-count fr"><!-- ivertinimai --></div>
                </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
            </div>
        </div>
    {% endfor %}
    <hr>
    <div class="restaurant-item clearfix">
        <div class="logo">
            <div class="logo-wrap"><img src="/bundles/foodapp/images/res-1.png"></div>
        </div>
        <div class="item-center">
            <h2 class="name clearfix"><span class="text">Čili pica</span><span class="tag"><img src="/bundles/foodapp/images/tag-speed.png"></span></h2>
            <p class="desc">Pica, Salotos, Italų</p>
            <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
        </div>
        <div class="discount-tag">-50%</div>
        <div class="item-righter">
            <div class="clearfix">
                <div data-stars="5" class="restoran-rating fl"></div>
                <div class="rating-count fr">25 Įvertinimai</div>
            </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
        </div>
    </div>
    <div class="restaurant-item clearfix">
        <div class="logo">
            <div class="logo-wrap"><img src="/bundles/foodapp/images/res-2.png"></div>
        </div>
        <div class="item-center">
            <h2 class="name clearfix"><span class="text">Čili pica</span><span class="tag"></span></h2>
            <p class="desc">Pica, Salotos, Italų</p>
            <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
        </div>
        <div class="item-righter">
            <div class="clearfix">
                <div data-stars="5" class="restoran-rating fl"></div>
                <div class="rating-count fr">25 Įvertinimai</div>
            </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
        </div>
    </div>
    <div class="restaurant-item clearfix">
        <div class="logo">
            <div class="logo-wrap"><img src="/bundles/foodapp/images/res-3.png"></div>
        </div>
        <div class="item-center">
            <h2 class="name clearfix"><span class="text">Čili pica</span><span class="tag"><img src="/bundles/foodapp/images/tag-speed.png"></span><span class="tag"><img src="/bundles/foodapp/images/tag-new.png"></span></h2>
            <p class="desc">Pica, Salotos, Italų</p>
            <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
        </div>
        <div class="discount-tag">-50%</div>
        <div class="item-righter">
            <div class="clearfix">
                <div data-stars="5" class="restoran-rating fl"></div>
                <div class="rating-count fr">25 Įvertinimai</div>
            </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
        </div>
    </div>
    <div class="restaurant-item clearfix">
        <div class="logo">
            <div class="logo-wrap"><img src="/bundles/foodapp/images/res-4.png"></div>
        </div>
        <div class="item-center">
            <h2 class="name clearfix"><span class="text">Čili pica</span><span class="tag"><img src="/bundles/foodapp/images/tag-new.png"></span><span class="tag"><img src="/bundles/foodapp/images/tag-not-working.png">
                        <div class="time-popup">VII 11:00 - 00:00
                            <div class="nip"></div>
                        </div></span></h2>
            <p class="desc">Pica, Salotos, Italų</p>
            <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
        </div>
        <div class="discount-tag">Akcija</div>
        <div class="item-righter">
            <div class="clearfix">
                <div data-stars="5" class="restoran-rating fl"></div>
                <div class="rating-count fr">25 Įvertinimai</div>
            </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
        </div>
    </div>
    <div class="restaurant-item clearfix">
        <div class="logo">
            <div class="logo-wrap"><img src="/bundles/foodapp/images/res-5.png"></div>
        </div>
        <div class="item-center">
            <h2 class="name clearfix"><span class="text">Čili pica</span></h2>
            <p class="desc">Pica, Salotos, Italų</p>
            <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
        </div>
        <div class="item-righter">
            <div class="clearfix">
                <div data-stars="5" class="restoran-rating fl"></div>
                <div class="rating-count fr">25 Įvertinimai</div>
            </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
        </div>
    </div>
    <div class="restaurant-item clearfix">
        <div class="logo">
            <div class="logo-wrap"><img src="/bundles/foodapp/images/res-2.png"></div>
        </div>
        <div class="item-center">
            <h2 class="name clearfix"><span class="text">Čili pica</span><span class="tag"></span></h2>
            <p class="desc">Pica, Salotos, Italų</p>
            <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
        </div>
        <div class="item-righter">
            <div class="clearfix">
                <div data-stars="5" class="restoran-rating fl"></div>
                <div class="rating-count fr">25 Įvertinimai</div>
            </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
        </div>
    </div>
    <div class="restaurant-item clearfix">
        <div class="logo">
            <div class="logo-wrap"><img src="/bundles/foodapp/images/res-3.png"></div>
        </div>
        <div class="item-center">
            <h2 class="name clearfix"><span class="text">Čili pica</span><span class="tag"><img src="/bundles/foodapp/images/tag-speed.png"></span><span class="tag"><img src="/bundles/foodapp/images/tag-new.png"></span></h2>
            <p class="desc">Pica, Salotos, Italų</p>
            <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
        </div>
        <div class="item-righter">
            <div class="clearfix">
                <div data-stars="5" class="restoran-rating fl"></div>
                <div class="rating-count fr">25 Įvertinimai</div>
            </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
        </div>
    </div>
    <div class="restaurant-item clearfix">
        <div class="logo">
            <div class="logo-wrap"><img src="/bundles/foodapp/images/res-4.png"></div>
        </div>
        <div class="item-center">
            <h2 class="name clearfix"><span class="text">Čili pica</span><span class="tag"><img src="/bundles/foodapp/images/tag-new.png"></span><span class="tag"><img src="/bundles/foodapp/images/tag-not-working.png">
                        <div class="time-popup">VII 11:00 - 00:00
                            <div class="nip"></div>
                        </div></span></h2>
            <p class="desc">Pica, Salotos, Italų</p>
            <div class="details"><span class="delivery">Pristatymas:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">Min. krepšelis:<span>40 Lt </span></span></div>
        </div>
        <div class="item-righter">
            <div class="clearfix">
                <div data-stars="5" class="restoran-rating fl"></div>
                <div class="rating-count fr">25 Įvertinimai</div>
            </div><a href="#" class="button"><span>Žiūrėti meniu</span></a>
        </div>
    </div>
</div>