/app/config/kpi.yml
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/var/sessions/*
/vendor/
/app/config/parameters.yml
/bin/*

# ignore Assetic generated css/js files
/web/css/*
/web/js/*

# ignore MacOS files
.DS_Store

# ignore uploaded files
/web/images/**/*
/web/images2/**/*
/web/uploads

# ignore phpStorm crap
.idea

# Entity backups
*.php~

# ctags
/tags
/.tags
/.tags_sorted_by_file

# other
.ruby-version
app/var/
bin/
