h4.padded {
    padding-left: 30px;
}

/* ---- Dispecherio langas ----- */
.driver_button {
    margin-bottom: 5px;
}

.city_list {
    display: inline-block;
    width: 1325px;
    vertical-align: top;
}

.city_list .ui-tabs-panel {
    padding-left: 0;
    padding-right: 0;
}

.drivers_list {
    display: inline-block;
}

.order_list {
    width: 1200px;
}

.order_list td,
.drivers_list td {
    padding-left: 10px;
}

.order_list th,
.drivers_list th {
    padding-left: 5px;
}

.order_list th.self_delivery,
.order_list th.order_date {
    width: 20px;
}
.order_list td.order_date.delayed-order{
    background-color: #ffe9dd;
}

.order_list td.self_delivery,
.order_list td.order_date {
    text-align: center;
}

.order_list td.order_status {
    text-align: center;
    white-space: nowrap;
}

.order_list td.order_status button {
    width: 52px;
    padding-left: 7px;
    padding-right: 7px;
}

.order_list td.driver {
    white-space: nowrap;
}

.order_list td.from_nav_ico {
    color: #FFA500;
    text-align: center;
}

.order_list tr.even,
.drivers_list tr.even,
.reports_list tr.even {
    background-color: #e7e7e7;
}

.driver-tooltip {
    text-align: left;
}

tr.late_warning {
    background-color: #ff7f65 !important;
}

td.no-wrap {
    white-space: nowrap;
}

.no-wrap span.glyphicon {
    vertical-align: middle;
}

.client_contacted_check {
    width: 65px;
    text-align: center;
}

.client_contacted_check input.client_contacted,
.problem_solved_check input.problem_solved {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

/* TODO prie buttono nupieski vairiuka */
/*span.icon_steering_wheel {*/
    /*content: "";*/
    /*background: url(/bundles/foodapp/images/steering_wheel.png) no-repeat left top;*/
    /*height: 26px;*/
    /*width: 26px;*/
/*}*/

.narrow_col {
    width: 70px;
}

.reports_list {

}
.reports_list td {
    padding: 5px;
}
.reports_list td.center {
    text-align: center;
}
.reports_list td.narrow {
    width: 90px;
}
.dashboardGraph {
    min-width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 5px;
}
button.late_orders {
    margin-left: 7px;
}

.file_to_big_input {
    display: inline-block;
    vertical-align: top;
    border: 1px solid red;
}
.file_to_big_message {
    display: inline-block;
    color: red;
    font-weight: bold;
    margin: 0 15px;
}