#checkout,
#success_panel,
#back_to_dishes,
#main_panel,
#cart_panel,
#place_select_panel,
#location_error,
#location_panel,
#delivery_impossible {
    display: none;
}

.pull-right {
    float: right;
}
.clear-pull-right {
    clear: both;
}

.form-row input {
    padding: 18px 12px !important;
}

.hidden-rules {
    display: none;
}

.nicer-font * {
    font-size: 16px;
}

#cartmnu {
    width: auto !important;
}
button, input, select, textarea, body, .ui-widget-content, .ui-selectmenu-menu li a, .ui-selectmenu-status {
    font-family: 'avenirbook','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
#cart_panel .check-block .min-cart-message a {
    width: auto;
}
#cart_panel .check-block .order-button {
    text-align: center;
}

.table-hover > tbody > tr.highlightedRow:hover > td,
.table-hover > tbody > tr.highlightedRow:hover > th,
.highlightedRow {
    background-color: #CEE0F2;
    font-weight: bold;
}