#checkout,
#success_panel,
.back_to_dishes,
#main_panel,
#cart_panel,
#place_select_panel,
#location_error,
#location_panel,
#delivery_impossible {
    display: none;
}
.pull-right {
    float: right;
}
.clear-pull-right {
    clear: both;
}

.form-row input {
    padding: 18px 12px !important;
}

.hidden-rules {
    display: none;
}

.nicer-font * {
    font-size: 16px;
}

#cartmnu {
    width: auto !important;
}
button, input, select, textarea, body, .ui-widget-content, .ui-selectmenu-menu li a, .ui-selectmenu-status {
    font-family: 'avenirbook','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}
#cart_panel .check-block .min-cart-message a {
    width: auto;
}
#cart_panel .check-block .order-button {
    text-align: center;
    text-decoration: none;
}

.table-hover > tbody > tr.highlightedRow:hover > td,
.table-hover > tbody > tr.highlightedRow:hover > th,
.highlightedRow {
    background-color: #CEE0F2;
    font-weight: bold;
}
.callcentre_dish_options {
    margin-top: 20px;
}
.callcentre_dish_options .list-group-item {
    font-size: 12px !important;
    padding: 6px 8px;
}
.restaurant-info-panel {
    padding: 15px 15px 0;
}
.restaurant-info-panel .restaurant-info-lefter {
    display: block;
    width: auto;
    padding-top: 0;
}
    .restaurant-info-panel .restaurant-info-lefter li {
        margin-bottom: 5px;
    }

.coupon_form {
    padding: 10px 5px;
}
.coupon_form_popup input[type="text"] {
    height: 40px;
}
.back_to_dishes:hover {
    text-decoration: none;
}
.delivery-info-form .custom-radio,
.back_to_dishes,
.btn#reset_cart {
    font-size: 13px;
}