@font-face {
  font-family: "myriadpro";
  src: url('/bundles/foodapp/fonts/myriadpro/myriadpro-regular_gdi.eot?1462685058');
  src: url('/bundles/foodapp/fonts/myriadpro/myriadpro-regular_gdi.eot?&1462685058#iefix') format('embedded-opentype'), url('/bundles/foodapp/fonts/myriadpro/myriadpro-regular_gdi.ttf?1462685058') format('truetype'), url('/bundles/foodapp/fonts/myriadpro/myriadpro-regular_gdi.woff?1462685058') format('woff');
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-size: 19px;
  font-family: "myriadpro";
  line-height: 23px;
  background: #eacbaf url(/bundles/foodapp/images/landing/b2bclient_lt/bg.jpg) no-repeat center top;
  /*background-size: cover;*/
  margin: 0;
  padding: 0;
  color: #202020;
}

h2 {
  font-size: 22px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table.table {
  border: 2px solid #202020;
}
table.table th, table.table td {
  font-size: 16px;
  text-align: center;
  border: 1px solid #202020;
  padding: 3px;
}

td {
  padding: 0;
  margin: 0;
  vertical-align: top;
}

img {
  display: table;
  margin: auto;
}

a {
  text-decoration: none;
  color: #202020;
}

ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0 0 0 30px;
}
ul li:before{
  content: '';
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("/bundles/foodapp/images/landing/b2bclient_lt/dot-small.png") center center no-repeat;
  background-size: 5px 7px;
}

.container {
  width: 980px;
  margin: 0 auto;
}

.row {
  margin-left: -30px;
  margin-right: -30px;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

.well {
  padding: 25px 30px;
  background: rgba(255, 255, 255, 0.76);
  margin-bottom: 5px;
  -moz-box-shadow: 3px 2px 16.02px 1.98px rgba(12, 11, 9, 0.14);
  -webkit-box-shadow: 3px 2px 16.02px 1.98px rgba(12, 11, 9, 0.14);
  box-shadow: 3px 2px 16.02px 1.98px rgba(12, 11, 9, 0.14);
}

.restaurants img {
  height: 45px;
}

.bg-white {
  background-color: #fff;
}

.ta-c {
  text-align: center;
}

.col-1 {
  width: 398px;
  float: left;
  margin-right: 5px;
}

.col-2 {
  width: 577px;
  float: left;
}

.col-center {
  width: 390px;
  margin: 0 auto;
}

.col-half {
  float: left;
  padding: 25px 30px;
}
.col-half:first-child {
  margin-right: 5px;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.whs-nw {
  white-space: nowrap;
}
@media screen and (min-width: 980px) {
  .align-items {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  .col-half {
    width: 487.5px;
  }
}

.color-red {
  color: #cf1a37;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 14px;
}

@media screen and (max-width: 980px) {
  .container, .col-1, .col-2, .col-center, .col-half {
    width: 100%;
  }
  .col-half:first-child {
    margin-bottom: 5px;
    margin-right: 0;
  }
  .pos-a {
    position: static;
  }
}
@media screen and (max-width: 980px) {
  .partners td:nth-child(7) {
    display: none;
  }
  .restaurants td:nth-child(11) {
    display: none;
  }
}
@media screen and (max-width: 880px) {
  .partners td:nth-child(6) {
    display: none;
  }
  .restaurants td:nth-child(10) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .partners td:nth-child(5) {
    display: none;
  }
  .restaurants td:nth-child(9),
  .restaurants td:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .partners td:nth-child(4) {
    display: none;
  }
  .restaurants td:nth-child(7),
  .restaurants td:nth-child(6) {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .partners td:nth-child(3) {
    display: none;
  }
  .restaurants td:nth-child(5),
  .restaurants td:nth-child(4) {
    display: none;
  }
  .sm-hide {
    display: none;
  }
  .sm-wrap {
    display: block;
  }
  .logo img, .slogan img{
    max-width: 100%;
  }
}