<p>
    {% for item in dataCollection %}
        {% if not loop.first %}<br/><br />{% endif %}
        <strong>{{ item['city'].title }}: </strong>
        {% for placePoint in item['collection'] %}
            {% set place = placePoint.place %}
            <a href="{{ slug.getUrl(place.id, 'place') }}" title="{{ place.name }}"><span style="color:#696969">{{ place.name }}</span></a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    {% endfor %}
</p>
