services:
    sonata.admin.dish:
        class: Food\DishesBundle\Admin\DishAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Dish
            - 'FoodDishesBundle:DishAdmin'
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]
           # - [ setTemplate, [edit, FoodDishesBundle:Dish:dish_admin.html.twig]]

    sonata.admin.dish.unit:
        class: Food\DishesBundle\Admin\DishUnitAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.dish_units" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\DishUnit
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.dish.size:
        class: Food\DishesBundle\Admin\DishSizeAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.dish_sizes" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\DishSize
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.dish.option:
        class: Food\DishesBundle\Admin\DishOptionAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.dish_options" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\DishOption
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]


    sonata.admin.food.category:
        class: Food\DishesBundle\Admin\FoodCategoryAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "food.category" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\FoodCategory
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.kitchen:
        class: Food\DishesBundle\Admin\KitchenAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.kitchen.type" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Kitchen
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.place:
        class: Food\DishesBundle\Admin\PlaceAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Place
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.place.pointfull:
        class: Food\DishesBundle\Admin\PlacePointFullAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.place_points" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\PlacePoint
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]
            - [ setTemplate, [edit, FoodDishesBundle:Place:place_point_admin.html.twig]]

    sonata.admin.place.reviews:
        class: Food\DishesBundle\Admin\PlaceReviewsAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.place_reviews" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\PlaceReviews
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.users:
        class: Food\UserBundle\Admin\UserAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Users", label: "admin.users" }
        arguments:
            - ~
            - Food\UserBundle\Entity\User
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.static:
        class: Food\AppBundle\Admin\StaticContentAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.static" }
        arguments:
            - ~
            - Food\AppBundle\Entity\StaticContent
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.dish.unit.category:
            class: Food\DishesBundle\Admin\DishUnitCategoryAdmin
            tags:
                - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.dish.unit.category" }
            arguments:
                - ~
                - Food\DishesBundle\Entity\DishUnitCategory
                - ~
            calls:
                - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.support:
            class: Food\SupportBundle\Admin\SupportAdmin
            tags:
                - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.order.support" }
            arguments:
                - ~
                - Food\CartBundle\Entity\Cart
                - 'FoodSupportBundle:SupportAdmin'
            calls:
                - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.newsletter_subscribers:
            class: Food\AppBundle\Admin\NewsletterSubscriberAdmin
            tags:
                - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.users.subscribers" }
            arguments:
                - ~
                - Food\AppBundle\Entity\Subscribers
                - ~
            calls:
                - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.order:
            class: Food\OrderBundle\Admin\OrderAdmin
            tags:
                - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.users.orders" }
            arguments:
                - ~
                - Food\OrderBundle\Entity\Order
                - ~
            calls:
                - [ setTranslationDomain, [SonataAdminBundle]]
