services:
    sonata.admin.dish:
        class: Food\DishesBundle\Admin\DishAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Dish
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.dish.unit:
        class: Food\DishesBundle\Admin\DishUnitAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish units" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\DishUnit
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.dish.option:
        class: Food\DishesBundle\Admin\DishOptionAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish options" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\DishOption
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]


    sonata.admin.food.category:
        class: Food\DishesBundle\Admin\FoodCategoryAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "food.category" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\FoodCategory
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.kitchen:
        class: Food\DishesBundle\Admin\KitchenAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.kitchen.type" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Kitchen
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.place:
        class: Food\DishesBundle\Admin\PlaceAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Place
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.place.point:
        class: Food\DishesBundle\Admin\PlacePointAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place point" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\PlacePoint
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

    sonata.admin.place.pointfull:
        class: Food\DishesBundle\Admin\PlacePointFullAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place point full" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\PlacePoint
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]
            - [ setTemplate, [edit, FoodDishesBundle:Places:place_point_admin.html.twig]]

    sonata.admin.place.reviews:
        class: Food\DishesBundle\Admin\PlaceReviewsAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place reviews" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\PlaceReviews
            - ~
        calls:
            - [ setTranslationDomain, [SonataAdminBundle]]

#    sonata.admin.users:
#        class: Food\DishesBundle\Admin\PlaceReviewsAdmin
#        tags:
#            - { name: sonata.admin, manager_type: orm, group: "Users", label: "Users" }
#        arguments:
#            - ~
#            - Food\UserBundle\Entity\User
#            - ~
#        calls:
#            - [ setTranslationDomain, [SonataAdminBundle]]
