services:
    sonata.admin.dish:
        class: Food\DishesBundle\Admin\DishAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Dish
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.dish.unit:
        class: Food\DishesBundle\Admin\DishUnitAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish units" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\DishUnit
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.dish.option:
        class: Food\DishesBundle\Admin\DishOptionAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish options" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\DishOption
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]


    sonata.admin.food.category:
        class: Food\DishesBundle\Admin\FoodCategoryAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Food category" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\FoodCategory
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.kitchen:
        class: Food\DishesBundle\Admin\KitchenAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Kitchen type" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Kitchen
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.place:
        class: Food\DishesBundle\Admin\PlaceAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Place
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.place.point:
        class: Food\DishesBundle\Admin\PlacePointAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place point" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\PlacePoint
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.place.pointfull:
        class: Food\DishesBundle\Admin\PlacePointFullAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place point full" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\PlacePoint
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]
            - [ setTemplate, [edit, FoodDishesBundle:Places:place_point_admin.html.twig]]
            - [ setTemplate, [edit, FoodDishesBundle:Places:place_point_admin.html.twig]]