services:
    sonata.admin.dish:
        class: Food\DishesBundle\Admin\DishAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Dish
            - FoodDishesBundle:DishAdmin
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.dish.unit:
        class: Food\DishesBundle\Admin\DishUnitAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Dish units" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\DishUnit
            - FoodDishesBundle:DishUnitAdmin
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.food.category:
        class: Food\DishesBundle\Admin\FoodCategoryAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Food category" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\FoodCategory
            - FoodDishesBundle:FoodCategoryAdmin
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.kitchen:
        class: Food\DishesBundle\Admin\KitchenAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Kitchen type" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Kitchen
            - FoodDishesBundle:KitchenAdmin
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.place:
        class: Food\DishesBundle\Admin\PlaceAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\Place
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]

    sonata.admin.place.point:
        class: Food\DishesBundle\Admin\PlacePointAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Content", label: "Place point" }
        arguments:
            - ~
            - Food\DishesBundle\Entity\PlacePoint
            - ~
        calls:
            - [ setTranslationDomain, [FoodDishBundle]]