services:

    food.dishes.utils.slug:
        class: Food\DishesBundle\Utils\Slug
        arguments: ["%locale%"]
        calls:
            - [container, [@service_container]]

    food.dishes.form.type.worktime:
        class: Food\DishesBundle\Form\Type\worktimeType
        tags:
            - { name: form.type, alias: worktime }

    food.dishes:
        class: Food\DishesBundle\Service\DishesService
        calls:
            - [container, [@service_container]]