{%  if label == "admin.users.roles" %}
    {% for child in form %}
        <li>
            {% set form_widget_content %}
            {{ form_widget(child) }}
            {% endset %}
            {{ form_label(child, child.vars.label|default(null), { 'in_list_checkbox' : true, 'widget' : form_widget_content } ) }}
        </li>
    {% endfor %}
{% else %}
    {% for child in form %}
        <li style="width: 220px; float: left; display: block">
            {% set form_widget_content %}
            {{ form_widget(child) }}
            {% endset %}
            {{ form_label(child, child.vars.label|default(null), { 'in_list_checkbox' : true, 'widget' : form_widget_content } ) }}
        </li>
    {% endfor %}
{% endif %}