{% extends 'FoodAppBundle::layout.html.twig' %}

{% block body %}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="static-page">
                    <div class="static-page-content">
                        {{ 'payment.nordea.failed'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
