imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: "@FoodCartBundle/Resources/config/services.yml" }
    - { resource: "@FoodDishesBundle/Resources/config/admin.yml" }
    - { resource: "@FoodSmsBundle/Resources/config/admin.yml" }

parameters:
    available_locales: [lt, en, ru]
    available_locales_routing: lt | en | ru
    time_zone: "Europe/Vilnius"
    domain: "skanu.lt"
    arc_gis_user: "skanulabai"
    arc_gis_pass: "labaiskanu"
    arc_gis_geocode_url: "http://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates?f=pjson&Address=_1_&City=_2_&CountryCode=LT&outFields=AddrNum,StName,City"

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version:less SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:
        name: skaniSesija2014PerkamPicasUrmu
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    globals:
        slug_util:    "@food.dishes.utils.slug"
        locale:       "%locale%"


# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [ FoodAppBundle, FoodDishesBundle, FoodOrderBundle ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        lessphp:
            file: %kernel.root_dir%/../vendor/leafo/lessphp/lessc.inc.php
            apply_to: "\.less$"
          #node:       /usr/local/bin/node
          #node_paths: [/usr/local/lib/node_modules]
          #apply_to:   "\.less$"
        closure:
            jar: %kernel.root_dir%/Resources/java/compiler.jar
        yui_css:
            jar: %kernel.root_dir%/Resources/java/yuicompressor.jar

    assets:
        jquery:
            inputs:
                - %kernel.root_dir%/../vendor/jquery/jquery/jquery-1.9.1.js
            output: js/jquery.js


# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: %kernel.root_dir%/data/data.db3
        # path:     %database_path%
        types:
            json: Sonata\Doctrine\Types\JsonType

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true
        filters:
            softdeleteable:
                class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: true

# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Food\UserBundle\Entity\User

services:
  gedmo.listener.softdeleteable:
    class: Gedmo\SoftDeleteable\SoftDeleteableListener
    tags:
        - { name: doctrine.event_subscriber, connection: default }
    calls:
        - [ setAnnotationReader, [ @annotation_reader ] ]

sonata_doctrine_orm_admin:
    templates:
        form: [ FoodDishesBundle:Forms:form_admin_fields.html.twig ]

sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]
        sonata.admin.block.search_result:
            contexts:   [admin]

        # Your other blocks - neaisku dar ar reikia

# Sonata admin bloku konfigas
sonata_admin:
    title: Skanu.lt
#    title_logo: /bundles/foodapp/images/admin_icon.png
    title_logo: /bundles/foodapp/images/admin_fun_icon.png
    templates:
      #layout: SonataAdminBundle::standard_layout.html.twig
      layout: FoodAppBundle::admin_layout.html.twig
      ajax:   SonataAdminBundle::ajax_layout.html.twig

      list: SonataAdminBundle:CRUD:list.html.twig
      show: SonataAdminBundle:CRUD:show.html.twig
      edit: SonataAdminBundle:CRUD:edit.html.twig
    dashboard:
          groups:
              acme.admin.group.places:
                  label: admin.group.places
                  label_catalogue: SonataAdminBundle
                  items:
                      - sonata.admin.kitchen
                      - sonata.admin.place
                      - sonata.admin.place.reviews
                      - sonata.admin.dish.unit
                      - sonata.admin.dish.size
                      - sonata.admin.food.category
                      - sonata.admin.static
                      - sonata.admin.sms
                      - sonata.admin.dish.unit.category
                  roles: [ ROLE_ADMIN ]
              acme.admin.group.formanagers:
                  label: admin.group.formanagers
                  label_catalogue: SonataAdminBundle
                  items:
                      - sonata.admin.food.category
                      - sonata.admin.dish
                      - sonata.admin.dish.option
                      - sonata.admin.place.pointfull
                      - sonata.admin.place.reviews
                  roles: [ ROLE_MODERATOR ]
              admin.users:
                  items: ~
                  item_adds:
                      - sonata.admin.users
                  roles: [ ROLE_ADMIN ]
              acme.admin.group.misc: ~

stof_doctrine_extensions:
    default_locale: %locale%
    orm:
        default:
            translatable: true

a2lix_translation_form:
    locales: %available_locales%
    default_required: true
    manager_registry: doctrine
    templating: "A2lixTranslationFormBundle::default.html.twig"

#evp omg
evp_web_to_pay:
    credentials:
        project_id: 12345 # Kolkas crap, o ne id :D
        sign_password: mad8956115689
    use_sandbox: true