parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: sandbox1
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: lt
    secret: f6180a0fb30e99a1da1e364412f96c3f98cbaa1f

    seb.banklink.private_key: "/home/labai.skanu.lt/shared/banklinks/seb/private.key"
    seb.banklink.bank_key: "/home/labai.skanu.lt/shared/banklinks/seb/bank.key"
