food_monitoring:
    resource: "@FoodMonitoringBundle/Resources/config/routing.yml"
    prefix:   /

food_sms:
    resource: "@FoodSmsBundle/Resources/config/routing.yml"
    prefix:   /

food_places:
    resource: "@FoodPlacesBundle/Controller/"
    type:     annotation
    prefix:   /

food_user:
    resource: "@FoodUserBundle/Controller/DefaultController.php"
    type:     annotation
    prefix:   /

food_order:
    resource: "@FoodOrderBundle/Controller/"
    type:     annotation
    prefix:   /

food_cart:
    resource: "@FoodCartBundle/Controller/"
    type:     annotation
    prefix:   /

food_app:
    resource: "@FoodAppBundle/Controller/"
    type:     annotation
    prefix:   /

food_dishes:
    resource: "@FoodDishesBundle/Controller/"
    type:     annotation
    prefix:   /

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"


soanata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /{_locale}/admin

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /{_locale}/admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /{_locale}/admin

food_homepage:
    pattern: /
    defaults: { _controller: FoodAppBundle:Default:index }


food_app:
    resource: "@FoodAppBundle/Resources/config/routing.yml"
    prefix:   /{_locale}/
    requirements:
        _locale:  "[a-z]{2}"


adminroot:
    path: /admin/
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: sonata_admin_dashboard
        permanent: true

banned:
    path: /banned/
    defaults: { _controller: FoodAppBundle:Default:banned}

ordermobile:
    path: /o/{hash}/
    defaults: { _controller: FoodOrderBundle:Default:mobile, hash: ~, action: ~ }

drivermobile:
    path: /d/{hash}/
    defaults: { _controller: FoodOrderBundle:Default:mobileDriver, hash: ~, action: ~ }

driver_mobile_invoice:
    path: /invoice/driver/{hash}/
    defaults: { _controller: FoodOrderBundle:Default:driverInvoice, hash: ~, action: ~ }

restaurant_mobile_invoice:
    path: /invoice/restaurant/{hash}/
    defaults: { _controller: FoodOrderBundle:Default:restaurantInvoice, hash: ~, action: ~ }

local_biller_accept:
    path: /{_locale}/payments/local/accept/
    defaults: { _controller: FoodOrderBundle:Payments:localAccept }

paysera_accept:
    path: /{_locale}/payments/paysera/accept/
    defaults: { _controller: FoodOrderBundle:Payments:payseraAccept }

paysera_cancel:
    path: /{_locale}/payments/paysera/cancel/{hash}/
    defaults: { _controller: FoodOrderBundle:Payments:payseraCancel, hash: ~ }

paysera_callback:
    path: /payments/paysera/callback
    defaults: { _controller: FoodOrderBundle:Payments:payseraCallback}

food_sitemap:
    pattern: /sitemap.xml
    defaults: { _controller: FoodAppBundle:Default:sitemap}
    requirements:
      _method:  GET

food_nagios:
    pattern:  /nagios/
    defaults: { _controller: FoodAppBundle:Monitoring:nagios }

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /change-password


