food_places:
    resource: "@FoodPlacesBundle/Controller/"
    type:     annotation
    prefix:   /

food_user:
    resource: "@FoodUserBundle/Controller/"
    type:     annotation
    prefix:   /

food_order:
    resource: "@FoodOrderBundle/Controller/"
    type:     annotation
    prefix:   /

food_cart:
    resource: "@FoodCartBundle/Controller/"
    type:     annotation
    prefix:   /

food_app:
    resource: "@FoodAppBundle/Controller/"
    type:     annotation
    prefix:   /

food_dishes:
    resource: "@FoodDishesBundle/Controller/"
    type:     annotation
    prefix:   /

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"


food_app:
    resource: "@FoodAppBundle/Resources/config/routing.yml"
    #prefix:   /{_locale}
    prefix:   /


fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /change-password

soanata_user:
    resource: '@SonataUserBundle/Resources/config/routing/admin_security.xml'
    prefix: /admin

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

# error-prevention
homepage:
   pattern: /

