{% extends '@FoodApp/admin_layout.html.twig' %}

{% block title %}{% endblock %}

{% block sonata_admin_content %}
    {{ form_start(form) }}
    {% for k,v in form %}
        <div class="control-group">
            {{ form_label(v) }}
            {{ form_widget(v)}}
        </div>
    {% endfor %}
    {{ form_end(form) }}


{% endblock %}