{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ 'general.resetting'|trans }}{% endblock %}

{% block body %}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="static-page">
                    <div class="static-page-content">
                        <h2>{{ 'general.resetting'|trans }}</h2>
                        {{ 'general.resetting.email_sent'|trans }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
