{# Rodomas restoranu sarase #}
<div class="filter-title">{% trans %}places.select_kitchen{% endtrans %}</div>
<div class="filters-list food-type-filters">
    {% for item in list %}
    <label class="custom-checkbox">{{ item.name }}<span class="count">{{ item.count }}</span>
        <input type="checkbox" name="kitchens[]" value="{{ item.id }}">
    </label>
    {% endfor %}
</div>