
<html>
<head>
    <title>Foodout.lv - coming soon</title>
</head>
<body>
<div style="width: 100%; padding-top: 50px; text-align: center;">
    <img src="/bundles/foodapp/images/foodout_no_domain.jpg" alt="Foodout.lv" />
</div>
</body>
</html>