{% extends 'FoodAppBundle::layout.html.twig' %}


{% block jscode %}
    $(document).ready(function(){
        $('.site-center').delegate('.delivery-info-form .submit-button', 'click', function(event){
            Cart.submitOrder($(this).closest(".delivery-info-form"));
            event.stopPropagation();
            event.preventDefault();
            return false;
        });
    });
{% endblock %}

{% block body %}
    {% javascripts '@FoodAppBundle/Resources/public/js_main/order.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="site-center">
        <div class="site-block">
            <div class="page-title no-page-path">
                <h1 class="clearfix"><span>Užsakymas</span></h1>
            </div>
            <div class="clearfix">
                <div class="content-lefter-big">
                    <form class="delivery-info-form" method="post">
                        <div class="delivery-info-form-content">
                            <h2>1. Pristatymas</h2>
                            <div class="form-row">
                                <label><br></label>
                                <div class="delivery-type-radios clearfix">
                                    <label class="custom-radio">Pristatymas į namus
                                        <input type="radio" name="delivery-type" value="deliver"{% if order is not null and order.deliveryType == 'deliver' %} checked="checked"{% endif %}>
                                    </label>
                                    <label class="custom-radio">Atsiimsiu pats
                                        <input type="radio" name="delivery-type" value="pickup"{% if order is not null and order.deliveryType == 'pickup' %} checked="checked"{% endif %}>
                                    </label>
                                </div>
                            </div>
                            {# TODO - sukelti visus laukus. Issiaiskinti su Paulium address flow #}
                            <div class="form-row">
                                <label>Miestas:</label>
                                <select class="custom-select">
                                    <option>Vilnius</option>
                                    <option>Kaunas</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <label>Adresas:</label>
                                <input type="text">
                            </div>
                            <div class="form-row">
                                <label>Telefonas:</label>
                                <input type="text">
                            </div>
                            <div class="form-row">
                                <label>Pristatymo laikas:</label>
                                <select class="custom-select">
                                    <option>18:45</option>
                                    <option>19:45</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <label>Papildoma info:</label>
                                <textarea cols="20" rows="4" placeholder="Čia galite įvesti laiptinės kodą, aukštą ir kitą kurjeriui naudingą informaciją..."></textarea>
                            </div>
                            <h2 class="section-2">2. Saugus apmokėjimas</h2>
                            <div class="select-payment clearfix">
                                <label class="custom-radio">Grynais pristatymo metu
                                    <input type="radio" name="payment-type" value="local"{% if order is not null and order.paymentMethod == 'local' %} checked="checked"{% endif %}>
                                </label>
                                <label class="custom-radio">Kredito kortele po pristatymo
                                    <input type="radio" name="payment-type" value="local.card"{% if order is not null and order.paymentMethod == 'local.card' %} checked="checked"{% endif %}>
                                </label>
                            </div>
                            <div class="select-bank clearfix">
                                <label class="custom-radio"><img src="/bundles/foodapp/images/bank-sb.png">
                                    <input type="radio" name="payment-type" value="sb">
                                </label>
                                <label class="custom-radio"><img src="/bundles/foodapp/images/bank-seb.png">
                                    <input type="radio" name="payment-type" value="seb">
                                </label>
                                <label class="custom-radio"><img src="/bundles/foodapp/images/bank-db.png">
                                    <input type="radio" name="payment-type" value="db">
                                </label>
                                <label class="custom-radio"><img src="/bundles/foodapp/images/bank-mb.png">
                                    <input type="radio" name="payment-type" value="mb">
                                </label>
                                <label class="custom-radio"><img src="/bundles/foodapp/images/bank-swb.png">
                                    {# TODO hackas testavimui. Reikia atskiro paysera optionso, kitus bankus kolkas slepiame #}
                                    <input type="radio" name="payment-type" value="paysera"{% if order is not null and order.paymentMethod == 'paysera' %} checked="checked"{% endif %}>
                                </label>
                                <label class="custom-radio"><img src="/bundles/foodapp/images/bank-dnb.png">
                                    <input type="radio" name="payment-type" value="dnb">
                                </label>
                            </div>
                            <div class="cupon-info">Jei turite kuponą, įveskite <a href="#">jo kodą čia</a></div>
                        </div>
                        <div class="form-controls clearfix"><a href="#" class="button-back">Grįžti atgal</a><a href="#" class="submit-button"><span>Užsakyti</span></a></div>
                    </form>
                </div>
                <div class="content-righter-small">
                    {{ render(controller('FoodCartBundle:Default:sideBlock', {'place': place, 'inCart': true })) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
