{# Sekmingo apmokejimo pranesimas #}
{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}Apmokėjimas nebaigtas - {{ page_title }}{% endblock %}

{% block jscode %}
    $(document).ready(function(){
    $('.site-center').delegate('.delivery-info-form .submit-button', 'click', function(event){
    Cart.submitOrder($(this).closest(".delivery-info-form"));
    event.stopPropagation();
    event.preventDefault();
    return false;
    });
    });
{% endblock %}

{% block body %}
    {% javascripts '@FoodAppBundle/Resources/public/js_main/order.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="cupon-page">
                    <h1>Sveikiname!</h1>
                    <p>Jūsų užsakymas priimtas ir bus perduotas restoranui, kai tik baigsite mokėjimą. <br/>Jei kils kokių klausimų ar yra paskutinės minutės pakeitumų, prašome susisiekite <br/> su <strong>"Foodout.lt"</strong> telefonu <strong>+370 687 44359</strong><br/>arba<br/>su <strong>“{{ order.placeName }}”</strong> telefonu <strong>+{{ order.placePoint.phoneNiceFormat }}</strong>. {#Savo užsakymą <a href="#" class="delivery-location-ico"><span>galite sekti čia</span></a>#}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
