services:
    food.paysera_biller:
        class: Food\OrderBundle\Service\PaySera
        calls:
            - [setProjectId, [%evp_web_to_pay.credentials.project_id%]]
            - [setSightPassword, [%evp_web_to_pay.credentials.sign_password%]]
            - [setContainer, ["@service_container"]]
            - [setTest, [%evp.test_payments%]]
            - [setSiteDomain, [%domain%]]

    food.local_biller:
        class: Food\OrderBundle\Service\LocalBiller
        calls:
            - [setContainer, ["@service_container"]]

    food.swedbank_gateway_biller:
        class: Food\OrderBundle\Service\SwedbankGatewayBiller
        calls:
            - [setContainer, ["@service_container"]]

    food.swedbank_credit_card_gateway_biller:
        class: Food\OrderBundle\Service\SwedbankCreditCardGatewayBiller
        calls:
            - [setContainer, ["@service_container"]]

    food.order:
        class: Food\OrderBundle\Service\OrderService
        arguments: []
        calls:
            - [setCartService, ["@food.cart"]]
            - [setContainer, ["@service_container"]]
            - [setContext, ["@security.context"]]
            - [setPayseraBiller, [@food.paysera_biller]]
            - [setLocalBiller, [@food.local_biller]]

    food.accounting:
        class: Food\OrderBundle\Service\AccountingService
        arguments: []
        calls:
            - [setContainer, ["@service_container"]]

    food.logistics:
        class: Food\OrderBundle\Service\LogisticsService
        arguments: []
        calls:
            - [setContainer, ["@service_container"]]
            - [setLogisticSystem, [%active_logistics%]]
            - [setOrderService, ["@food.order"]]
