{# Rodomas restoranu sarase #}
<div class="filter-title">Rodyti tik</div>
<div class="filters-list">
    <label class="custom-checkbox">Nuolaidos
        <input type="checkbox">
    </label>
    <label class="custom-checkbox">Atsiimsiu pats
        <input type="checkbox">
    </label>
    <label class="custom-checkbox">Tik dirbantys restoranai
        <input type="checkbox">
    </label>
    <label class="custom-checkbox">Apmokėjimas iš anksto
        <input type="checkbox">
    </label>
</div>