{# Rodomas restoranu sarase #}
<div class="filter-title">{% trans %}places.show_only{% endtrans %}</div>
<div class="filters-list">
    <label class="custom-checkbox">{% trans %}places.discount{% endtrans %}
        <input type="checkbox" name="filters[]" value="discount">
    </label>
    <label class="custom-checkbox">{% trans %}places.pickup{% endtrans %}
        <input type="checkbox" name="filters[]" value="pickup">
    </label>
    {#
    <label class="custom-checkbox">{% trans %}places.only_working{% endtrans %}
        <input type="checkbox" value="only_working">
    </label>
    #}
    <label class="custom-checkbox">{% trans %}places.prepaid{% endtrans %}
        <input type="checkbox" name="filters[]" value="prepaid">
    </label>
</div>