<div id="place-review-popup" style="display: none;">
    <div class="popup place-review-popup clearfix">
        <div class="place-review-popup-wrapper">{% render(controller('FoodDishesBundle:Place:review', {id: place.id})) %}</div>
    </div>
</div>
