services:
  food.messages:
      class: Food\SmsBundle\Service\MessagesService
      arguments: [@service_container]

  food.infobip:
      class: Food\SmsBundle\Service\InfobipProvider
      arguments: [%infobip_provider.api_url%, %infobip_provider.account_url%, %infobip_provider.login%, %infobip_provider.password%, @logger]
      calls:
              - [setDomain, ["%domain%"]]

  food.silverstreet:
      class: Food\SmsBundle\Service\SilverStreetProvider
      arguments: [%silverstreet_provider.api_url%, %silverstreet_provider.account_url%, %silverstreet_provider.login%, %silverstreet_provider.password%, @logger]