<a href="{{ path('user_profile') }}" class="profile-button" data-toggle="popover" data-placement="bottom" data-content="test message here :)">
    <span>{% trans with {'%firstname%': language_utils.name(user.firstname, locale)} %}general.profile_button{% endtrans %}</span>
</a>
