Template ID from <b>www.mailer.lt</b>. You can you following variables to personialize your email content:<br/>
<ul>
    <li><u>[place_name]</u></li>
    <li><u>[place_address]</u></li>
    <li><u>[order_id]</u></li>
    <li><u>[order_hash]</u></li>
    <li><u>[user_address]</u></li>
    <li><u>[delivery_date]</u></li>
    <li><u>[total_sum]</u></li>
    <li><u>[total_delivery]</u></li>
    <li><u>[total_card]</u></li>
    <li><u>[invoice]</u></li>
    <li><u>[beta_code]</u></li>
    <li><u>[city]</u></li>
    <li><u>[food_review_url]</u></li>
    <li><u>[phone]</u></li>
    <li><u>[delivery_time_format]</u></li>
    <li><u>[pre_delivery_time]</u></li>
</ul>
