Use variables to personalize content:<br/>
<ul>
    <li><u>[order_id]</u> - Order number (only number like: "4512");</li>
    <li><u>[restaurant_name]</u> - Restaurant name;</li>
    <li><u>[delivery_time]</u> - Delivery time (format: ~ 1 h);</li>
    <li><u>[pre_delivery_time]</u> - Preorder delivery date and time (format: m-d H:i);</li>
</ul>
