Use hooks to display customized content:<br/>
<ul>
    <li><u>[s=hook.best_offer]</u> - add to content best offers blocks;</li>
    <li><u>[s=hook.free_delivery_restaurant]</u> - restaurant list which has free delivery;</li>
    <li><u>[s=hook.b2b_client]</u> - B2B client page;</li>
    <li><u>[s=hook.application]</u> - Application page;</li>
</ul>
