{# Uzsakymo statuso ir statuso istorijos ispiesimas prie sonatos order show formos #}
<th>{{ field_description.options.label|trans({}, 'SonataAdminBundle') }}</th>
<td>
    {{ user_service.getDiscount(object) }} %
</td>