{% extends 'FoodAppBundle::mobilelayout.html.twig' %}


{% block body %}
    <div class="col-xs-12 col-sm-10">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h1>Jami. Skanu</h1>
            <p>Galima uzsisakyti maista :)</p>
        </div>
        <div class="row">
            {% for i in 0..10 %}
                <div class="col-6 col-sm-6 col-lg-4">
                    <h2>Patiekalas</h2>
                    <p>
                        {% image '@FoodAppBundle/Resources/public/images/test_img.jpg' output='/images/test_img.jpg' %}
                        <img src="{{ asset_url }}" alt="" style="width: 200px; border-radius: 30px;"/>
                        {% endimage %}
                    <li>Mesyte</li><li>Suris</li><li>Petrushka</li> </p>
                    <p><a class="btn btn-default" href="#" role="button">Placiau &raquo;</a></p>
                </div>
            {% endfor %}

        </div><!--/row-->
    </div><!--/span-->
{% endblock %}
