{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ staticPage.title }} - {{ page_title }}{% endblock %}

    {% block body %}
        <div class="site-center">
            <div class="site-block">
                <div class="middle-content">
                    <div class="static-page">
                        <h1>{{ staticPage.title }}</h1>
                        <div class="static-page-content">
                            {{ staticPage.content|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}