<div class="clearfix restaurant-menu display-list">
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-1-s.png">
        <h3 class="name">1. San Remo pica</h3>
        <p class="desc">Šoninė, sūris, aitrusis "Čili picos Leco" padažas, pomidorų padažas</p>
        <div class="menu-item-bottom clearfix"><span class="price">19,48 Lt - 25,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-2-s.png">
        <h3 class="name">2. Balatono pica</h3>
        <p class="desc">Krevetės, pomidorai, žaliosios alyvuogės, mocarela , melsvasis sūris, pomidorų padažas, aliejaus ir... </p>
        <div class="menu-item-bottom clearfix"><span class="price">15,00 Lt - 30,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-3-s.png">
        <h3 class="name">3. Tango pica</h3>
        <p class="desc">Jautiena, šoninė, kons. paprikos, sūris, "Chipotle" padažas, aliejaus ir česnakų padažas, raudonėliai</p>
        <div class="menu-item-bottom clearfix"><span class="price">18,98 Lt - 32,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-4-s.png">
        <h3 class="name">4. Akapulko pica</h3>
        <p class="desc">Šoninė, sūris, aitrusis "Čili picos Leco" padažas, pomidorų padažas</p>
        <div class="menu-item-bottom clearfix"><span class="price">15,00 Lt - 30,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-1-s.png">
        <h3 class="name">5. San Remo pica</h3>
        <p class="desc">Šoninė, sūris, aitrusis "Čili picos Leco" padažas, pomidorų padažas</p>
        <div class="menu-item-bottom clearfix"><span class="price">19,48 Lt - 25,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-2-s.png">
        <h3 class="name">6. Balatono pica</h3>
        <p class="desc">Krevetės, pomidorai, žaliosios alyvuogės, mocarela , melsvasis sūris, pomidorų padažas, aliejaus ir... </p>
        <div class="menu-item-bottom clearfix"><span class="price">15,00 Lt - 30,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-3-s.png">
        <h3 class="name">3. Tango pica</h3>
        <p class="desc">Jautiena, šoninė, kons. paprikos, sūris, "Chipotle" padažas, aliejaus ir česnakų padažas, raudonėliai</p>
        <div class="menu-item-bottom clearfix"><span class="price">18,98 Lt - 32,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-4-s.png">
        <h3 class="name">4. Akapulko pica</h3>
        <p class="desc">Šoninė, sūris, aitrusis "Čili picos Leco" padažas, pomidorų padažas</p>
        <div class="menu-item-bottom clearfix"><span class="price">15,00 Lt - 30,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
    <div class="restaurant-menu-item"><img src="/bundles/foodapp/images/mi-1-s.png">
        <h3 class="name">5. San Remo pica</h3>
        <p class="desc">Šoninė, sūris, aitrusis "Čili picos Leco" padažas, pomidorų padažas</p>
        <div class="menu-item-bottom clearfix"><span class="price">19,48 Lt - 25,48 Lt</span><a href="#detailed-dish-popup" class="add-to-cart boxer"></a></div>
    </div>
</div>