{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <table>
        {% for child in object.sizes %}
            {% if child.unit is not empty %}
            <tr>
                <td style="padding: 1px;">{{ child.unit.name }}</td>
                <td style="padding: 1px;">{{ child.price }}</td>
            </tr>
            <Tr>
                <td colspan="2" style="padding: 1px;">{{ child.code }}</td>
            </Tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}