<div class="form-row">
    <label>{% trans %}label.address{% endtrans %}</label>
    <div class="address-search-form-ui address-search-form-city address-search-form-cart ">
        <div class="flex-aligment">
            <input type="hidden" id="hidden-field-for-address-id" name="address[id]"/>
            <input type="text" id="address_autocomplete" data-url="{{ slug.generateURL('food_ajax_request', {'action' : 'autocomplete-address'}) }}" placeholder="{% trans %}index.street{% endtrans %}" class="input-street search-field" autocomplete="off" value="" />
            <input type="text" name="address[flat]" id="flat" placeholder="{% trans %}index.flat{% endtrans %}" class="input-house search-field" value="" />
        </div>
        <div class="clearfix"></div>
        <div id="error"></div>
    </div>
</div>
<hr/>
