<hr/>
<div class="form-row">
    <label class="custom-checkbox company-agreement">
        {{ form_widget(form.profile.regeneratePassword, {'attr': {'title': profile_errors.regeneratePassword}}) }}
        {{ form_label(form.profile.regeneratePassword)|striptags }}
    </label>
</div>