<div id="detailed-dish-popup">
    <form class="popup detailed-dish-popup"><img src="{{ asset('bundles/foodapp/images/popup-header.png') }}" class="popup-header">
        <div class="dish-info">
            <p class="name">San Remo pica</p>
            <p class="desc">Šoninė, sūris, aitrusis "Čili picos Leco" padažas, pomidorų padažas</p>
        </div>
        <div class="dish-size">
            <div class="title">Pasirinkite dydį</div>
            <div class="clearfix">
                <label class="custom-radio">Maža pica, 25cm <strong class="price">15,00 Lt</strong>
                    <input type="radio" name="size-1">
                </label>
                <label class="custom-radio">Vidutinė pica, 28cm<strong class="price">18,00 Lt</strong>
                    <input type="radio" name="size-1">
                </label>
                <label class="custom-radio">Maža pica, 32cm <strong class="price">21,00 Lt</strong>
                    <input type="radio" name="size-1">
                </label>
                <label class="custom-radio">Šeimyninė pica, 45cm <strong class="price">33,00 Lt</strong>
                    <input type="radio" name="size-1">
                </label>
            </div>
        </div>
        <div class="dish-ingredients">
            <div class="title">Ar norėtumėt papildomų reikaliukų?</div>
            <div class="clearfix">
                <label class="custom-checkbox">Agurkas<strong class="price">+1,00 Lt</strong>
                    <input type="checkbox">
                </label>
                <label class="custom-checkbox">Pomidoras<strong class="price">+1,00 Lt</strong>
                    <input type="checkbox">
                </label>
                <label class="custom-checkbox">Grietinė<strong class="price">+2,00 Lt</strong>
                    <input type="checkbox">
                </label>
                <label class="custom-checkbox">Artišokai<strong class="price">+3,00 Lt</strong>
                    <input type="checkbox">
                </label>
                <label class="custom-checkbox">Paprika<strong class="price">+3,00 Lt</strong>
                    <input type="checkbox">
                </label>
            </div>
        </div>
        <div class="popup-controls"><a href="#" class="button-submit"><span>Pridėti į krepšelį</span></a></div>
    </form>
</div>