<div id="detailed-dish-popup">
    <form class="popup detailed-dish-popup">
        <h1>{{ 'general.error_happened'|trans }}</h1>
        {{ 'general.error_happened.description'|trans }}
    </form>
</div>
