parameters:

services:
  food.report:
    class: Food\ReportBundle\Service\ReportService
    calls:
      - [setContainer, [@service_container]]

  sonata.admin.driver_worktime:
    class: Food\ReportBundle\Admin\DriverWorktimeAdmin
    tags:
      - { name: sonata.admin, manager_type: orm, group: "Content", label: "admin.report.driver_worktime_report" }
    arguments:
      - ~
      - Food\AppBundle\Entity\Driver
      - 'FoodReportBundle:DriverWorktimeAdmin'
    calls:
      - [ setTranslationDomain, [SonataAdminBundle]]

  food.report.orders_by_restaurant_service:
    class: Food\ReportBundle\Service\OrdersByRestaurantReportService
    parent: food.base_service
    arguments:
      - @security.context
      - @translator
    calls:
      - [ setSaveDirectory, ['%kernel.root_dir%/../web/uploads/documents/order_reports']]
