food_lang_homepage:
    pattern: /
    defaults: { _controller: FoodAppBundle:Default:index }

food_test:
    pattern:  /test/
    defaults: { _controller: FoodAppBundle:Test:index }


food_slug:
    pattern:  /{slug}/
    defaults: { _controller: FoodAppBundle:Slug:process, slug: ~ }
    requirements:
        slug : "[^admin].+"

static:
    path:     /static/{id}
    defaults: { _controller: FoodAppBundle:Static:index }
    methods:  [GET]
