food_lang_homepage:
    pattern: /
    defaults: { _controller: FoodAppBundle:Default:index }

food_test_payment:
    pattern:  /test/payment
    defaults: { _controller: FoodAppBundle:Test:payment }

food_test:
    pattern:  /test/
    defaults: { _controller: FoodAppBundle:Test:index }

food_slug:
    pattern:  /{slug}/
    defaults: { _controller: FoodAppBundle:Slug:process, slug: ~ }
    requirements:
        slug : "^(?!admin|cart|test|payments|call_center|ajax|places).+"

food_admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

food_cart:
    resource: "@FoodCartBundle/Resources/config/routing.yml"
    prefix:   /cart

food_ajax:
    pattern: /ajax/{action}/
    defaults: { _controller: FoodAppBundle:Ajax:ajax, action: ~}

food_places:
    pattern: /places/
    defaults: { _controller: FoodPlacesBundle:Default:index}


static:
    path:     /static/{id}
    defaults: { _controller: FoodAppBundle:Static:index }
    methods:  [GET]
