food_homepage:
    pattern:  /
    defaults: { _controller: FoodAppBundle:Default:index }

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

_places_list:
    pattern: /admin/places/list
    defaults: { _controller: FoodAppBundle:Places:list }

_places_status:
    pattern: /admin/places/status/{id}/{status}
    defaults: { _controller: FoodAppBundle:Places:status }

_kitchens_list:
    pattern: /admin/kitchens/list
    defaults: { _controller: FoodAppBundle:Kitchens:list }

_kitchen_edit:
  pattern: /admin/kitchens/edit/{id}
  defaults: { _controller: FoodAppBundle:Kitchens:edit }

_kitchen_status:
    pattern: /admin/kitchens/status/{id}/{status}
    defaults: { _controller: FoodAppBundle:Kitchens:status }

_add_freaky_user:
    pattern: /users/add/{username}/{email}/{password}
    defaults: { _controller: FoodAppBundle:Security:addUser}

# Front-end routes
# TODO temp - kai bus slugai isimti
static:
    path:     /static/{id}
    defaults: { _controller: FoodAppBundle:Static:index }