


food_homepage2:
    pattern:  /{slug}/
    defaults: { _controller: FoodAppBundle:Slug:process, slug: ~ }

food_homepage:
    pattern:  /test
    defaults: { _controller: FoodAppBundle:Test:index }

admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin


_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /admin

