food_order_tracking:
    path: /track/{hash}/
    defaults: { _controller: FoodAppBundle:OrderTracking:index, hash: ~ }

food_order_status_check:
    path: /order_status_check/
    defaults: { _controller: FoodAppBundle:OrderTracking:orderStatusCheck }
    options:
        expose: true

food_lang_homepage:
    path: /{_locale}
    defaults: { _controller: FoodAppBundle:Default:index, _locale: %kernel.default_locale% }

food_review_create:
    path: /place/review/{id}
    defaults: { _controller: FoodDishesBundle:Place:reviewCreate }
    requirements:
        _method: POST

food_test_init:
    resource: "@FoodAppBundle/Resources/config/routing_test.yml"
    prefix: /test

fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"

food_order_cnt:
    resource: "@FoodOrderBundle/Resources/config/routing.yml"
    prefix: /order

food_admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /admin

food_admin_init:
    resource: '@FoodAppBundle/Resources/config/routing_admin.yml'
    prefix: /admin

food_cart:
    resource: "@FoodCartBundle/Resources/config/routing.yml"
    prefix:   /{_locale}/cart
    defaults: { _locale: %kernel.default_locale%}

food_ajax_import_locale:
    resource: "@FoodAppBundle/Resources/config/routing_ajax.yml"
    prefix:   /{_locale}/ajax
    defaults: { _locale: %kernel.default_locale% }
    requirements:
      _locale:  "[a-z]{2}"

food_ajax_import:
    resource: "@FoodAppBundle/Resources/config/routing_ajax.yml"
    prefix:   /ajax

food_places:
    path: /places
    defaults: { _controller: FoodPlacesBundle:Default:index }

food_places_filter:
    path: /places/filter/
    defaults: { _controller: FoodPlacesBundle:Default:list }

food_kitchens_filter:
    path: /kitchens/filter/
    defaults: { _controller: FoodDishesBundle:Kitchen:kitchenlist }
    options:
        expose: true

food_places_filter_locale:
    path: /{_locale}/places/filter/
    defaults: { _controller: FoodPlacesBundle:Default:list, _locale: %kernel.default_locale% }
    requirements:
        _locale:  "[a-z]{2}"

food_kitchens_filter_locale:
    path: /{_locale}/kitchens/filter/
    defaults: { _controller: FoodDishesBundle:Kitchen:kitchenlist,_locale: %kernel.default_locale% }
    options:
        expose: true
    requirements:
        _locale:  "[a-z]{2}"


food_newsletter_subscribe:
    path: /newsletter/subscription/
    defaults: { _controller: FoodAppBundle:Default:newsletterSubscription}

food_newsletter_subscribe_locale:
    path: /{_locale}/newsletter/subscription/
    defaults: { _controller: FoodAppBundle:Default:newsletterSubscription, _locale: %kernel.default_locale% }


food_slug_lang:
    path:  /{_locale}/{slug}/
    defaults: { _controller: FoodAppBundle:Slug:process, slug: ~, _locale: %kernel.default_locale% }
    requirements:
        slug : "^(?!admin|cart|invoice|payments|callcenter|newsletter|ajax|js|routing|monitoring|nagios|banned)([a-z0-9-\__\"„“\.\+]+)([a-z0-9-\/\__\"„“\.\+]+)$"
        _locale: "^[a-z]{2}"

food_slug:
    path:  /{slug}/
    defaults: { _controller: FoodAppBundle:Slug:process, slug: ~ }
    requirements:
        slug : "^(?!admin|cart|invoice|payments|callcenter|newsletter|ajax|js|routing|monitoring|nagios|banned)([a-z0-9-\__\"„“\.\+]+){4,}"

#static:
#    path:     /static/{id}
#    defaults: { _controller: FoodAppBundle:Static:index }
#    methods:  [GET]


